.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}
.register-form {
  width: 50%;
  margin: auto;
}

.ui.purple.button:focus,
.ui.purple.buttons .button:focus {
  background-color: #a333c8;
}
